Package: com.tdmd.LS1
Name: tdMD LockScreen 1
Version: 1.02
Architecture: iphoneos-arm
Description: tdMD LockScreen 1
Depends: com.bushe.lockhtml4, com.macciti.tdmdclockcalendarwidgetpack1
Maintainer: TDMD <tdmd@outlook.com>
Author: TDMD <tdmd@outlook.com>
Section: Themes (LockScreens)
Depiction: https://tdmd.github.io/Depictions/com.tdmd.LS1/index.html
