Package: com.tdmd.lockglyph-iphone1
Name: LockGlyph iPhone 1
Version: 1.0
Architecture: iphoneos-arm
Description: LockGlyph iPhone 1
Depends: com.evilgoldfish.lockglyph
Maintainer: TDMD <tdmd@outlook.com>
Author: TDMD <tdmd@outlook.com>
Section: Themes (LockGlyph)
Depiction: https://tdmd.github.io/Depictions/com.tdmd.lockglyph-iphone/index.html
