Package: com.tdmd.lockglyph-iphone1
Name: tdmd - LockGlyph iPhone
Version: 1.0
Architecture: iphoneos-arm
Description: tdmd - LockGlyph iPhone
Depends: com.evilgoldfish.lockglyph
Maintainer: TDMD <tdmd@outlook.com>
Author: TDMD <tdmd@outlook.com>
Section: Themes (LockGlyph)
Depiction: https://tdmd.github.io/Packages/dep/com.tdmd.lockglyph-iphone1/index.html
