Package: com.tdmd.clockCalendarBanner4-LS
Name: tdMD Clock Calendar Banner 4 for LockHTML4
Version: 1.0
Architecture: iphoneos-arm
Description: tdMD Clock Calendar Banner 4 for LockHTML4
Depends: com.bushe.lockhtml4, com.matchstic.infostats2, com.macciti.tdmdclockcalendarwidgetpack1
Maintainer: TDMD <tdmd@outlook.com>
Author: TDMD <tdmd@outlook.com>
Section: Themes (LockScreens)
Depiction: https://tdmd.github.io/Depictions/com.tdmd.clockCalendarBanner4-LS/index.html
