Package: com.tdmd.iPhoneXRAY-LS
Name: tdMD iPhone xray battery for LockHTML4
Version: 1.1.4
Architecture: iphoneos-arm
Description: tdMD iPhone xray battery for LockHTML4
Depends: com.bushe.lockhtml4, com.matchstic.infostats2, com.macciti.tdmdclockcalendarwidgetpack1
Maintainer: TDMD <tdmd@outlook.com>
Author: TDMD <tdmd@outlook.com>
Section: Themes (LockScreens)
Depiction: https://tdmd.github.io/Depictions/com.tdmd.iPhoneXRAY-LS/index.html
