Package: com.tdmd.IS2-marioLS
Name: Mario battery for LockScreen
Version: 1.2.1
Architecture: iphoneos-arm
Description: Mario battery for LockScreen
Depends: com.bushe.lockhtml4, com.matchstic.infostats2
Maintainer: TDMD <tdmd@outlook.com>
Author: TDMD <tdmd@outlook.com>
Section: Themes (LockScreens)
Depiction: https://tdmd.github.io/Depictions/com.tdmd.IS2-marioLS/index.html
