.spnDayOfWeek
{
	font-size: 20px;
}

#spnClock
{
	font-size: 60px;
}

#divMonthAndDay
{
	font-size: 30px;
}

td.SignalCaption, #tdPhoneCarrier
{
	font-size: 10px;
}

.spnBattery, #spnBatteryEnabled, #spnBatteryDisabled, #spnCellularSignalEnabled, #spnCellularSignalDisabled, #spnWifiSignalEnabled, #spnWifiSignalDisabled
{
	font-size: 10px;
}
