.spnDayOfWeek
{
	font-size: 8px;
}

#spnClock
{
	font-size: 22px;
}

#divMonthAndDay
{
	font-size: 10px;
}

td.SignalCaption, #tdPhoneCarrier
{
	font-size: 6px;
}

.spnBattery, #spnBatteryEnabled, #spnBatteryDisabled, #spnCellularSignalEnabled, #spnCellularSignalDisabled, #spnWifiSignalEnabled, #spnWifiSignalDisabled
{
	font-size: 6px;
}
