Package: com.tdmd.lockglyph-mario
Name: LockGlyph Super Mario Bros
Version: 1.0
Architecture: iphoneos-arm
Description: LockGlyph Super Mario Bros
Depends: com.evilgoldfish.lockglyph
Maintainer: TDMD <tdmd@outlook.com>
Author: TDMD <tdmd@outlook.com>
Section: Themes (LockGlyph)
Depiction: https://tdmd.github.io/Depictions/com.tdmd.lockglyph-mario/index.html
