Package: com.tdmd.SpacePotatoSalad
Name: Space Potato Salad
Version: 1.2.2
Architecture: iphoneos-arm
Description: Space Potato Salad
Depends: com.anemonetheming.anemone
Maintainer: TDMD <tdmd@outlook.com>
Author: TDMD <tdmd@outlook.com>
Section: Themes
Depiction: https://tdmd.github.io/Depictions/com.tdmd.SpacePotatoSalad/index.html
